
body {
    font-size: 1em;
    background-color: lightskyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    background-color: lightcyan;
    list-style: square;
}

form {
    background-color: lightcyan;
}

h1 {
    font-weight: bold;
    text-align: center;
}

a {
    color: darkslateblue;
}

table {
    color: darkslateblue;
    border: 1px solid darkslateblue;
}

.small {
    width: 40px;
}

.nosquare {
    list-style: none;
}
